@inject IJSRuntime JsRuntime

<h3>Video Player</h3>
    <video style="height: 250px" id="hlsPlayer" controls></video>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        string firebaseStorageUrl = "https://localhost:7255/api/HLS/rou/rou.m3u8";
        
        await JsRuntime.InvokeVoidAsync("initializeHlsPlayer", "hlsPlayer", firebaseStorageUrl);
    }
}